/*general page layout*/
* {
    box-sizing: border-box;
    font-family: Lucida Console;
}

.squares-container::after {
    content: "";
    clear: both;
    display: block;
}
.squares-container {
	margin: 10%;
}
[class*="col-"] {
    float: left;
}

/* header */
html body {
	padding: 0;
	margin: 0;
}
#header {
	z-index: 1;
	background-color:  rgba(170, 250, 236, 0.7);
	position: fixed;
	width: 100%;
    padding-bottom: 0.5%;
	top: 0;
	margin: 0px;
}
.logo {
    display: inline-block;
    width: 10%;
	background-image: url("../img/avatarBW.jpg");
    border-radius: 100%;
	padding-bottom: 10%;
	margin-left: 1.66%;
    margin-top: 1%;
    background-size: contain;
}
.pagetitle {
	display: inline-block;
}

/* menu */
.dropbtn {
    font-size: 32px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: 5A5A5A;
}
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #ddd}
.show {display:block;}
/* end menu */

#footer {
	z-index: 1;
	background-color:  rgba(170, 250, 236, 0.7);
	position: fixed;
	width: 100%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    padding-left: 1.66%;
	bottom: 0;
}
/* end header */
/* end general page layout */


/* page specific content */

/* HOME page */
.container-homepage {
    margin: 15%;
}
/*end HOME page*/

/* HTML/CSS only page */
.square {
	background-image: url("../img/board.jpg");
	background-size: contain;
    height: 0;
	padding-bottom: 95%;
	margin: 5%;
	position: relative;
}
#animation1 p {
	font-size: 1.25em;
	line-height: 1;
	animation: bright-board infinite 5s;
	color: white;
	background-color: rgba(255,255,255, 0.2);
	width: 85%;
	height: auto;
	padding: 5%;
	margin: 1.66%;
	margin-left: 0;
	margin-top: 60%;
	position: absolute;
}
#animation2 {
	width: 20%;
	height: 20%;
	border-radius: 50%;
	background-color: rgba(255,255,255, 0.8);
	position: absolute;
	margin: 1.66%;
	animation: ball 8s infinite linear;
}
#animation3 p {
	font-size: 1.25em;
	line-height: 1;
	color: white;
	background-color: rgba(255,255,255, 0.2);
	width: 85%;
	height: auto;
	padding: 5%;
	margin: 1.66%;
	margin-left: 0;
	margin-top: 60%;
	position: absolute;
}
#tulip {
	position: absolute;
	width: 50%;
	height: 50%;
	margin-top: 25%;
	margin-left: 25%;
	animation: tulip 5s infinite linear;
	background: url('../images/tulip.png') center top no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDI0IDc2OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAyNCA3Njg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojQzEyNzJEO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzY4LjksMTM1LjhjLTQuMiwyNi42LTQuMyw1My41LTQuMiw4MC40YzAuMSwyMC4yLDEuNCw0MC44LDkuMSw1OS40czIyLjYsMzUuMyw0Mi4xLDQwLjQKCQljMS42LDAuNCwzLjQsMC45LDQuMywyLjJjMC44LDEuMSwwLjgsMi41LDAuOCwzLjljMC4yLDIzLjQsMC40LDQ2LjgsMC41LDcwLjJjMC42LDc0LjcsMS4xLDE1MC0xMS43LDIyMy42CgkJYy0wLjIsMS4xLDAuNiwyLjIsMS44LDIuM2MxOS4yLDIsMzguMyw0LDU3LjUsNmMxLDAuMSwyLDAuMiwyLjgtMC40YzAuOS0wLjcsMS0xLjksMS4xLTNjNy40LTEwMS41LDE0LjktMjAzLjYsMy43LTMwNC43CgkJYy0wLjEtMS4zLDAuOS0yLjMsMi4yLTIuMmMxNS45LDEuNCwzMS4zLTguOSw0MC0yMi40YzkuMS0xNC4yLDExLjktMzEuNSwxMy42LTQ4LjNjNC0zOS45LDIuMy04MC40LTQuOC0xMTkuOAoJCWMtMC4zLTEuNy0yLjQtMi4yLTMuNS0wLjljLTE1LjksMTktMjkuOCwzOS41LTQxLjQsNjEuM2MtMC43LDEuNC0yLjcsMS40LTMuNSwwLjFjLTEzLjItMjIuMS0yNi41LTQ0LjEtMzkuNy02Ni4yCgkJYy0wLjgtMS4zLTIuOC0xLjMtMy41LDAuMWMtMTIuNywyNC4zLTIyLjksNDkuOC0zMC41LDc2Yy0wLjUsMS44LTMsMi0zLjcsMC4zYy01LjYtMTIuMi0wLjIsMy40LTE2LjgtMzYuOAoJCWMtNy42LTE4LjQtNS44LTMyLTE0LjMtMjguMUMzNzAsMTI5LjUsMzY4LjksMTM1LjgsMzY4LjksMTM1Ljh6Ii8+CjwvZz4KPC9zdmc+Cg==);
}
#snowflakes p {
	font-size: 1.25em;
	line-height: 1;
	color: white;
	background-color: rgba(255,255,255, 0.2);
	width: 85%;
	height: auto;
	padding: 5%;
	margin: 1.66%;
	margin-left: 0;
	margin-top: 60%;
	position: absolute;
}
#snowflake01 {
	fill: white;
	animation: snowflake01 8s infinite linear;
	animation-delay: -4.8s;
}
#snowflake02 {
	fill: white;
	animation: snowflake01 8.5s infinite linear;
	animation-delay: -7.8s;
}
#snowflake03 {
	fill: white;
	animation: snowflake01 9s infinite linear;
}
#snowflake04 {
	fill: white;
	animation: snowflake01 9.5s infinite linear;
	animation-delay: -2.7s;
}
#snowflake05 {
	fill: white;
	animation: snowflake01 10s infinite linear;
	animation-delay: -6.3s;
}
#snowflake06 {
	fill: white;
	animation: snowflake01 8s infinite linear;
	animation-delay: -7.5s;
}
#snowflake07 {
	fill: white;
	animation: snowflake01 8.5s infinite linear;
}
#snowflake08 {
	fill: white;
	animation: snowflake01 9s infinite linear;
	animation-delay: -2.2s;
}
#snowflake09 {
	fill: white;
	animation: snowflake01 9.5s infinite linear;
	animation-delay: -6.1s;
}
#snowflake10 {
	fill: white;
	animation: snowflake01 10s infinite linear;
	animation-delay: -5s;
}
@keyframes bright-board {
	from {color: transparent;}
	to {color: white;}
}
@keyframes ball {
	0% {margin-left: 1.66%; margin-top: 1.66%;}
	25% {margin-left: 78.34%; margin-top: 1.66%;}
	50% {margin-left: 78.34%; margin-top: 78.34%;}
	75% {margin-left: 1.66%; margin-top: 78.34%;}
	100% {margin-left: 1.66%; margin-top: 1.66%;}
}
@keyframes tulip {
	100% {transform: rotate(360deg);}
}
@keyframes snowflake01 {
	100% {transform: translateY(100%);}
}
/* end HTML/CSS only page */

/* GAMES page */
.container-gamespage {
    margin: 15%;
}
/*end GAMES page*/

/* rockpaperscissors page */
.rockpaperscissors {
    border-radius: 100%;
    width: 100%;
    padding: 5%;
	padding-bottom: 5%;
	position: relative;
}
.squares-container-rockpaperscissors {
	margin: 15%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content img {
    width: 100%;
    border-radius: 100%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* end rockpaperscissors page */
/* end page specific content */

/* responsive design */
/* for mobile phone */
[class *="col-"] {
	width: 96%;
}
/* for tablets */
@media only screen and (min-width: 600px){
	.col-t-1 {width: 25%;}
	.col-t-2 {width: 40%;}
	.col-t-3 {width: 86%%}
	.col-t-4 {width: 100%;}
	.square {padding-bottom: 40%;}
    .dropdown:before {font-size: 2em;}
    .modal-content {width: 30%; margin: 5% auto;}
    .pagetitle {font-size: 1.25em;}
}
/* end responsive design */